<!DOCTYPE html>
<!-- 介绍：声明式渲染、条件与循环、处理用户输入、应用组件构建(应用)、与自定义元素的关系 -->
<html>

<head>
  <meta charset="utf-8">
  <title>Vue介绍</title>
  <!-- <script src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script> -->
  <script src="https://unpkg.com/vue"></script>
</head>

<body>
  <!-- 和vue中的 #app 对应，id 对应 vue 中的 #name，显示变量内容-->
  <div id="app">
    <p>{{ message }}</p>
  </div>
  <!-- v-bind指令，指令带有前缀 v-，以表示它们是 Vue.js 提供的特殊属性, 鼠标停留在这个文本上后显示message -->
  <div id="app-2">
    <span v-bind:title="message">
      Hover your mouse over me for a few seconds to see my dynamically title!
    </span>
  </div>
  <!-- 条件与循环 v-if boolean类型 可见和不可见  -->
  <div id="app-3">
    <p v-if="seen">Now you see me</p>
  </div>
  <!-- v-for 遍历数组todos 为 todo -->
  <div id="app-4">
    <ol>
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ol>
  </div>
  <!-- v-on监听事件 -->
  <div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
  </div>
  <!-- 输入框,v-model：表单输入和应用状态双向数据绑定 -->
  <div id="app-6">
    <p>{{ message }}</p>
    <input v-model="message">
  </div>

  <div id="app-7">
    <ol>
      <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
    </ol>
  </div>



  <script>
    // 定义变量message，绑定插入文本内容
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue.js!'
      }
    })
    //  定义变量message，app2和控制台中的app2.message=“haha”修改的名字对应
    var app2 = new Vue({
      el: '#app-2',
      data: {
        message: "You loaded this page on " + new Date()
      }
    })
    // 定义一个boolean变量
    var app3 = new Vue({
      el: '#app-3',
      data: {
        seen: true
      }
    })
    // 定义数组
    var app4 = new Vue({
      el: '#app-4',
      data: {
        todos: [
          // 数组中单个item为text
          {
            text: 'Learn JavaScript'
          },
          {
            text: 'Learn Vue'
          },
          {
            text: 'Learn something awesome'
          }
        ]
      }
    })
    // 处理用户输入：倒叙输入
    var app5 = new Vue({
      el: '#app-5',
      data: {
        message: 'Hello Vue.js!'
      },
      methods: {
        reverseMessage: function() {
          this.message = this.message.split('').reverse().join('')
        }
      }
    })
    // 变量
    var app6 = new Vue({
      el: '#app-6',
      data: {
        message: 'Hello Vue!'
      }
    })
    // 组件构建（应用）,能够接受一个属性字段，v-bind将todo传到每个重复的组件中，子元素通过 props 接口实现了与父亲元素很好的解耦。
    // 在一个大型应用中，为了使得开发过程可控，有必要将应用整体分割成一个个的组件
    Vue.component('todo-item', {
      props: ['todo'],
      template: '<li>{{ todo.text }}</li>'
    })
    var app7 = new Vue({
      el: '#app-7',
      data: {
        groceryList: [{
            text: 'Vegetables'
          },
          {
            text: 'Cheese'
          },
          {
            text: 'Whatever else humans are supposed to eat'
          }
        ]
      }
    })
    // Vue.js组件类似于自定义元素，是web组件规范一部分，
    // 特性：组件数据流、自定义事件系统、动态的、带特效的组件替换。
  </script>
</body>

</html>
