<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>列表渲染</title>
  <!-- <script src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script> -->
  <script src="https://unpkg.com/vue"></script>
</head>

<body>
  <!-- v-for -->
  <ul id="example-1">
    <li v-for="item in items">
      {{ item.message }}
    </li>
  </ul>
<!-- v-for index -->
  <ul id="example-2">
    <li v-for="(item, index) in items">
      {{ parentMessage }} - {{ index }} - {{ item.message }}
    </li>
  </ul>
<!-- 对象 v-for -->
  <ul id="repeat-object" class="demo">
    <li v-for="value in object">
      {{ value }}
    </li>
  </ul>

  <div id="todo-list-example">
  <input
    v-model="newTodoText"
    v-on:keyup.enter="addNewTodo"
    placeholder="Add a todo"
  >
  <ul>
    <li
      is="todo-item"
      v-for="(todo, index) in todos"
      v-bind:key="todo"
      v-bind:title="todo"
      v-on:remove="todos.splice(index, 1)"
    ></li>
  </ul>
</div>

  <script>
  // 数组
    var example1 = new Vue({
      el: '#example-1',
      data: {
        items: [{
            message: 'Foo'
          },
          {
            message: 'Bar'
          }
        ]
      }
    })
// 变量，数组
    var example2 = new Vue({
      el: '#example-2',
      data: {
        parentMessage: 'Parent',
        items: [
          { message: 'Foo'},
          { message: 'Bar'}
        ]
      }
    })
// 对象
    new Vue({
      el: '#repeat-object',
      data: {
        object: {
          firstName: 'John',
          lastName: 'Doe',
          age: 30
        }
      }
    })

    Vue.component('todo-item', {
  template: `
    <li>
      {{ title }}
      <button v-on:click="$emit('remove')">X</button>
    </li>
  `,
  props: ['title']
})
new Vue({
  el: '#todo-list-example',
  data: {
    newTodoText: '',
    todos: [
      'Do the dishes',
      'Take out the trash',
      'Mow the lawn'
    ]
  },
  methods: {
    addNewTodo: function () {
      this.todos.push(this.newTodoText)
      this.newTodoText = ''
    }
  }
})
  </script>
</body>

</html>
